@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}